name: Clippy Check

on:
  workflow_call:
    inputs:
      rust-toolchain:
        description: "Rust toolchain to use"
        default: "stable"
        required: false
        type: string
      runs-on:
        description: "The type of machine to run the job on"
        default: "ubuntu-latest"
        required: false
        type: string
      clippy-args:
        description: "cargo clippy arguments"
        default: "--all-targets --all-features"
        required: false
        type: string
    secrets:
      token:
        description: "Github token"
        required: true

jobs:
  clippy_check:
    name: Clippy linter check
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.rust-toolchain }}
          components: clippy
      - uses: giraffate/clippy-action@v1
        env:
          RUSTFLAGS: ""
        with:
          github_token: ${{ secrets.token }}
          clippy_flags: ${{ inputs.clippy-args }}