name: Contracts builds and tests

on:
  workflow_call:
    inputs:
      rust-toolchain:
        description: "Rust toolchain to use"
        default: "stable"
        required: false
        type: string
      runs-on:
        description: "The type of machine to run all the jobs on"
        default: "ubuntu-latest"
        required: false
        type: string
      setup-runs-on:
        description: "The type of machine to run the setup job on"
        required: false
        type: string
      wasm-test-runs-on:
        description: "The type of machine to run the Wasm Tests job on"
        required: false
        type: string
      interactor-tests-runs-on:
        description: "The type of machine to run the Interactor Tests job on"
        required: false
        type: string
      test-coverage-runs-on:
        description: "The type of machine to run the Test Coverage job on"
        required: false
        type: string
      rust-target:
        description: "Rust target to use"
        default: "wasm32-unknown-unknown"
        required: false
        type: string
      sc-meta-version:
        description: "multiversx-sc-meta version"
        default: ""
        required: false
        type: string
      mx-scenario-go-version:
        description: "sc-scenario-go version"
        default: ""
        required: false
        type: string
      wasm-opt-version:
        description: "The wasm-opt version to use"
        default: "108"
        required: false
        type: string
      path-to-sc-meta:
        description: "multiversx-sc-meta from local"
        default: ""
        required: false
        type: string
      clippy-args:
        description: "cargo clippy arguments"
        default: "--all-targets --all-features"
        required: false
        type: string
      enable-contracts-size-report:
        description: "Enable contracts size report"
        default: true
        required: false
        type: boolean
      enable-interactor-tests:
        description: "Enable interactor tests"
        default: false
        required: false
        type: boolean
      coverage-args:
        description: "sc-meta test-coverage arguments"
        default: "--output ./coverage.md"
        required: false
        type: string
    secrets:
      token:
        description: "Github token"
        required: true

jobs:
  setup:
    name: Setup Environment
    uses: ./.github/workflows/setup.yml
    with:
      rust-toolchain: ${{ inputs.rust-toolchain }}
      runs-on: ${{ inputs.setup-runs-on || inputs.runs-on }}
      rust-target: ${{ inputs.rust-target }}
      sc-meta-version: ${{ inputs.sc-meta-version }}
      mx-scenario-go-version: ${{ inputs.mx-scenario-go-version }}
      wasm-opt-version: ${{ inputs.wasm-opt-version }}
      path-to-sc-meta: ${{ inputs.path-to-sc-meta }}

  wasm_test:
    name: Wasm tests
    needs: setup
    uses: ./.github/workflows/wasm-tests.yml
    with:
      rust-toolchain: ${{ inputs.rust-toolchain }}
      runs-on: ${{ inputs.wasm-test-runs-on || inputs.runs-on }}
      rust-target: ${{ inputs.rust-target }}
      enable-contracts-size-report: ${{ inputs.enable-contracts-size-report }}

  interactor_tests:
    name: Interactor tests
    needs: setup
    if: inputs.enable-interactor-tests
    uses: ./.github/workflows/interactor-tests.yml
    with:
      rust-toolchain: ${{ inputs.rust-toolchain }}
      runs-on: ${{ inputs.interactor-tests-runs-on || inputs.runs-on }}
      rust-target: ${{ inputs.rust-target }}

  test_coverage:
    name: Test Coverage
    needs: setup
    uses: ./.github/workflows/coverage.yml
    with:
      rust-toolchain: ${{ inputs.rust-toolchain }}
      runs-on: ${{ inputs.test-coverage-runs-on || inputs.runs-on }}
      rust-target: ${{ inputs.rust-target }}
      coverage-args: ${{ inputs.coverage-args }}

  rust_test:
    name: Rust tests
    uses: ./.github/workflows/rust-tests.yml
    with:
      rust-toolchain: ${{ inputs.rust-toolchain }}
      runs-on: ${{ inputs.runs-on }}

  clippy_check:
    name: Clippy linter check
    uses: ./.github/workflows/clippy-check.yml
    with:
      rust-toolchain: ${{ inputs.rust-toolchain }}
      runs-on: ${{ inputs.runs-on }}
      clippy-args: ${{ inputs.clippy-args }}
    secrets:
      token: ${{ secrets.token }}
