name: Interactor Tests

on:
  workflow_call:
    inputs:
      rust-toolchain:
        description: "Rust toolchain to use"
        default: "stable"
        required: false
        type: string
      runs-on:
        description: "The type of machine to run the job on"
        default: "ubuntu-latest"
        required: false
        type: string

jobs:
  interactor_tests:
    name: Interactor tests
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v5

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.rust-toolchain }}

      - name: Create local tools directory
        run: mkdir -p tools

      - name: Download sc-meta artifact
        uses: actions/download-artifact@v6
        with:
          name: sc-meta
          path: tools

      - name: Make sc-meta executable
        run: |
          tar -xvf tools/sc_meta.tar -C tools

          for tool in sc-meta wasm-opt; do
            FOUND=$(find tools -name "$tool" -type f | head -n1)
            if [ -n "$FOUND" ]; then
              mv "$FOUND" tools/
            fi
          done

          find tools -name "*.so" -type f -exec mv {} tools/ \;
          find tools -name "*.a" -type f -exec mv {} tools/ \;
          find tools -type d -empty -delete
          echo "$(pwd)/tools" >> "$GITHUB_PATH"

      - name: Download built contracts
        uses: actions/download-artifact@v6
        with:
          name: built-contracts
          path: .

      - name: Pull latest chain simulator docker image
        env:
          RUSTFLAGS: ""
        run: sc-meta cs install

      - name: Run the interactor tests
        continue-on-error: false
        env:
          RUSTFLAGS: ""
        run: sc-meta cs start & cargo test --features chain-simulator-tests

      - name: Stop the chain simulator
        env:
          RUSTFLAGS: ""
        run: sc-meta cs stop

      - name: Cleanup
        run: rm -rf tools